<div class="container mt-3">
    <div class="d-flex.justify-content.between.flex-md-nowarp.align-items-center.pt-2.pb-2.mb-3.border-bottom">
        <h1>Customer list</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">custId</th>
                    <th scope="col">firstName</th>
                    <th scope="col">lastName</th>
                    <th scope="col">phone</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of customerList; let i = index">
                    <th scope="row">{{item.custId}}</th>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.phone}}</td>
                    <td class="text-center" >
                        <button class="btn btn-sm btn-primary" routerLink="/Home-edit/{{item.custId}}">Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="delete(item,i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>