<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Angular 17 MEAN CRUD</a>
    <div id="navbarNav" class="cllapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Home-list">Show Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Home-add">Add Customer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>